version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "10:00"
    open-pull-requests-limit: 10
    # Group dependencies
    groups:
      storybook:
        patterns:
          - "@storybook/*"
          - "storybook"
          - "eslint-plugin-storybook"
      font-awesome:
        patterns:
          - "@fortawesome/*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "react-test-renderer"
          - "@types/react"
          - "@types/react-dom"
      react-query:
        patterns:
          - "@tanstack/*"
      next:
        patterns:
          - "next"
          - "eslint-config-next"
          - "@next/eslint-plugin-next"
      testing-library:
        patterns:
          - "@testing-library/*"
      bootstrap:
        patterns:
          - bootstrap
          - reactstrap
      openlayers:
        patterns:
          - rlayers
          - ol
      redux:
        patterns:
          - redux-devtools-extension
          - redux-mock-store
          - "@reduxjs/toolkit"
          - "react-redux"
      turf:
        patterns:
          - "@turf/*"
      vitest:
        patterns:
          - "vitest"
          - "@vitest/*"
      playwright:
        patterns:
          - "playwright"
          - "@playwright/*"

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
      time: "10:00"
    open-pull-requests-limit: 10

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: daily
      time: "10:00"
