page-platform-data {
    .platform-data {
        float: right;
        margin: 1rem;
        
        h1 {
            display: inline-block;
        }
    
        h6 {
            display: inline-block;
        }
    }
}

