# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage*

# production
/build*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git*
.dockerignore
.editorconfig
.ipynb_checkpoints*
.sourcemaps
.vscode
CHANGELOG.md
Dockerfile
LICENSE
**/*.ipynb
README-bootstrap.md
Readme.md
**/.DS_Store
devcontainer.json
docker-compose.yaml
k8s*
secret.env
**/.gitignore
.next
.github
.sourcemaps
build
coverage
docs
k8s
server_config
.codacy.yml
.editorconfig
.rtx.toml
CHANGELOG.md
devcontainer.json
LICENSE
nginx.production.conf
