services:
  client:
    extends:
      file: docker-compose.yaml
      service: client
    build:
      context: .
      target: dev
    command: npm run dev
    stdin_open: true
    volumes:
      - .:/app:cached
      - /app/node_modules/
      - /app/.next/
      - /app/build/
