mini-map {
    // width: 200px;
    // height: 200px;
    // background-color: grey;
}

.mini-map {
    width: 300px;
    height: 200px;
    background-color: grey;
    float: left;
    margin: 1rem;
}