<ion-menu id='page_menu' [content]="page_menu" side="left">
  <ion-header>
    <ion-toolbar>
      <ion-title>Choose your Interest</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose="page_menu" ion-item *ngFor="let p of appConfig.getMenuPages()" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu id='user_interface_menu' *ngIf="getPageName() == 'HomePage'"   [content]="interface_menu" side="right">
  <ion-content padding class="has-header">
      <ion-navbar>
        <ion-title>Choose an Application</ion-title>
      </ion-navbar>
    <ion-list>
      <button menuClose="user_interface_menu" ion-item *ngFor="let item of appConfig.interface_choices"
                (click)="selectedInterface(item)">
        {{item.displayName}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!--
<ion-menu id='comparison_menu' *ngIf="getPageName() == 'PlatformDesignerGraphPage'"   [content]="content" side="right"
        (ionClose)="comparisonMenuClosed()">
  <ion-content padding class="has-header">
      <ion-navbar>
        <ion-title>Choose stuff</ion-title>
      </ion-navbar>
        <div>
         <ion-item class="listtitle">Toggle Buoy</ion-item>
          <ion-item *ngFor="let item of metService.getBuoySelectionList()">
            <ion-label> {{item.name}}   </ion-label>
            <ion-toggle [checked]="item.selected" (ionChange)="updateBuoySelected(item)"></ion-toggle>
          </ion-item>
        </div>
        <br/>
        <div>
         <ion-item class="listtitle">Toggle Parameter</ion-item>
          <ion-item *ngFor="let parameter of getPlatformParameterList()">
            <ion-label> {{parameter.description}}   </ion-label>
            <ion-toggle [checked]="parameter.selected" (ionChange)="updateParameterVisibility(parameter)"></ion-toggle>
          </ion-item>
        </div>
  </ion-content>
</ion-menu>

<ion-menu id='graph_menu' *ngIf="getPageName() == 'PlatformGraphPage'"  [content]="content" side="right">
  <ion-content padding class="has-header">
      <ion-navbar>
        <ion-title>Choose a Location</ion-title>
      </ion-navbar>
        <div >
          <ion-list *ngIf="getPageName() == 'PlatformTabsPage'">
            <button ion-item *ngFor="let item of waveService.wave_locations"
                        (click)="platformTapped($event, item)">
              {{item.properties.name}}
            </button>
          </ion-list>
        </div>
  </ion-content>
</ion-menu>

<ion-menu id='platform_menu' *ngIf="getPageName() == 'PlatformTabsPage' ||
                  getPageName() == 'PlatformDataPage'" [content]="content" side="right">
  <ion-content padding class="has-header">
      <ion-navbar>
        <ion-title *ngIf="getPageName() == 'PlatformTabsPage'">Choose a Platform</ion-title>
      </ion-navbar>
        <div >
          <ion-list *ngIf="getPageName() == 'PlatformTabsPage'">
            <button ion-item *ngFor="let item of waveService.wave_locations"
                        (click)="platformTapped($event, item)">
              {{item.properties.name}}
            </button>
          </ion-list>
        </div>
  </ion-content>
</ion-menu>

<ion-menu id='wave_menu' *ngIf="getPageName() == 'WaveGraphPage'" [content]="content" side="right">
  <ion-content padding class="has-header">
      <ion-navbar>
        <ion-title *ngIf="getPageName() == 'WaveGraphPage'">Choose a Platform</ion-title>
        <ion-title *ngIf="filter_type == 'tides'">Choose a Station</ion-title>
        <ion-title *ngIf="filter_type == 'wavessource'">Choose a Wave Model</ion-title>
      </ion-navbar>
        <div >
          <ion-list *ngIf="getPageName() == 'WaveGraphPage'">
            <button ion-item *ngFor="let item of waveService.wave_locations"
                        (click)="platformTapped($event, item)">
              {{item.properties.name}}
            </button>
          </ion-list>
          <ion-list *ngIf="filter_type == 'tides'">
            <button ion-item *ngFor="let item of waterlevelService.getOfficialTideLocations()"
                        (click)="tideTapped($event, item)">
              {{item.monitoringlocationname}}
            </button>
          </ion-list>
        </div>
  </ion-content>
</ion-menu>

<ion-menu id='buoy_menu' *ngIf="getPageName() == 'BuoydataMapPage'" [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-list>
   <ion-item class="listtitle">Toggle Stations on/off</ion-item>
    <ion-item *ngFor="let layer of labeled_options_display">
      <ion-label> {{layer.displayName}}   </ion-label>
      <ion-toggle [checked]="layer.visibility" (ionChange)="updateVisibility(layer)"></ion-toggle>
    </ion-item>

    <ion-item class="listtitle">Select Base Layer</ion-item>
    <ion-item *ngFor="let layer of base_options_display">
      <ion-label>{{layer.displayName}}</ion-label>
      <ion-toggle [checked]="layer.visibility" (ionChange)="updateVisibility(layer)"></ion-toggle>
      <ion-range min="0" max="100" step="5" [(ngModel)]="layer.opacity"
                    (ionChange)="updateOpacity(layer)"></ion-range>

    </ion-item>
  </ion-list>
  </ion-content>
</ion-menu>
-->
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #interface_menu #page_menu swipeBackEnabled="false" ></ion-nav>
