<!--
  Generated template for the BuoydataMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle="left" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buoy Map</ion-title>
    <button ion-button menuToggle="right" end>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-12 col-sm-8>

  <div id="map" #map class="map"  data-tap-disabled="true">
    <div id="popup">
      <div *ngIf="selectedFeature != undefined &&
                    selectedFeature.get('projectidentifier') != undefined">
        <div [ngSwitch]="selectedFeature.get('projectidentifier')">
          <div *ngSwitchCase="'INUNDATION'">
            {{selectedFeature.get('monitoringlocationname')}}<br/>
            {{selectedFeature.get('monitoringlocationdescriptiontext')}}
          </div>
        </div>
      </div>
      <!-- NERACOOS buoy data -->
      <div *ngIf="selectedFeature != undefined &&
                    selectedFeature.get('mooring_site_desc') != undefined">
          {{selectedFeature.get('name')}}<br/>
          {{selectedFeature.get('program')}}<br/>
          <!--><span [innerHtml]="selectedFeature.get('platform_credit')"></span>-->
      </div>
      <!-- NOAA NOS/CO-OPS tide data -->
      <div *ngIf="selectedFeature != undefined &&
                    selectedFeature.get('projectidentifier') != undefined &&
                    selectedFeature.get('projectidentifier') == 'NOS/CO-OPS' &&
                    isNOAATideStation(selectedFeature.get('monitoringlocationidentifier'))">
          {{selectedFeature.get('monitoringlocationdescriptiontext')}}<br/>
          {{selectedFeature.get('monitoringlocationname')}}<br/>
          Station Id - {{selectedFeature.get('monitoringlocationidentifier')}}
          <span [innerHtml]="selectedFeature.get('platform_credit')"></span>
      </div>
      <div *ngIf="selectedFeature != undefined &&
                    selectedFeature.get('projectidentifier') != undefined &&
                    selectedFeature.get('projectidentifier') == 'NOS/CO-OPS' &&
                    !isNOAATideStation(selectedFeature.get('monitoringlocationidentifier'))">
          {{selectedFeature.get('monitoringlocationname')}}
      </div>
    </div>
  </div>
  <strong>Beach Erosion and Flooding Forecast</strong> <br />
  The impact markers for the beach locations will update based on the forecast. Click the marker to view the forecast.<p></p>
  <strong>Observation Stations </strong><br />
  Click a buoy to view the sensor observations and model forecast data. <p></p>
  Click a tide gauge station to view the tide observations and water level forecast data.
    </ion-col>
    <ion-col col-12 col-sm-4>
        <ion-row>
          <ion-col>
          <h5>Legend</h5>
          </ion-col>
        </ion-row>
        <ion-row class="background">

        <ion-col><h6>Buoys and Tide Gauge Platforms</h6>NERACOOS Buoys <img src="{{icon_path}}/img/symbols/symbol_neracoos.png" width="15px" height="15px"><br />
NOAA Buoys <img src="{{icon_path}}/img/symbols/symbol_noaa.png" width="15px" height="15px"><br />
Water Level Stations <img src="{{icon_path}}/img/symbols/symbol_tide.gif" width="15px" height="15px">
        </ion-col>
      </ion-row>


    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
