nav.navbar {
    background-color: var(--primary);
    margin-bottom: 1rem;
}

.navbar-brand > img {
    height: 30px;
}

.navbar-dark .navbar-nav .dropdown-menu .nav-link {
    color: var(--primary);
}

.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover {
    color: black;
}