.App {
  --primary: #114a6e;
}

.App .alert-primary {
  color: #114a6e; /* #004085; */
  /* background-color: #cce5ff; */
  /* border-color: #114A6E #b8daff; */
}

.App .nav-link,
.App .nav-tabs .nav-item {
  color: #114a6e;
}

.condition-tooltip > div > div {
  background-color: #114a6e;
}

.condition-tooltip > div.tooltip > span.arrow::before {
  border-top-color: #114a6e;
  border-bottom-color: #114a6e;
}

.neracoos-nav > nav.navbar {
  background-color: var(--primary);
  margin-bottom: 1rem;
}

.neracoos-nav > .navbar-brand > img {
  height: 30px;
}

.neracoos-nav > .navbar-dark .navbar-nav .show > .dropdown-menu > a.nav-link {
  color: var(--primary);
}

.neracoos-nav > .navbar-dark .navbar-nav .dropdown-menu .nav-link:hover {
  color: black;
}
