@import "~bootstrap/scss/functions";

$old-neracoos-blue: #114a6e;

$neracoos-blue: #083d52;
$metallic-seaweed: #178596;
$coastal-meadow: #2ab78f;
$buoy-yellow: #ffcb22;
$what-orange: #ffae6d;
$color: #72e400;

$primary: $neracoos-blue;
// $primary: $old-neracoos-blue;

$secondary: $metallic-seaweed;
$success: $coastal-meadow;
$warning: $buoy-yellow;
$danger: $what-orange;
$info: $metallic-seaweed;

@import "~bootstrap/scss/bootstrap.scss";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/containers";
// @import "~bootstrap/scss/grid";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App .alert-primary {
  color: $primary;
}

.App .navbar-brand .nav-link,
.App .nav-tabs .nav-item {
  color: $primary;
}

nav.navbar {
  background-color: $primary;
  margin-bottom: 1rem;

  .navbar-brand > img {
    height: 30px;
  }
}

.navbar-dark .navbar-nav .show > .dropdown-menu > a.nav-link {
  color: $primary;
}

.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover {
  color: black;
}

.condition-tooltip > div > div {
  background-color: $primary;
}

.condition-tooltip > div.tooltip > span.arrow::before {
  border-top-color: $primary;
  border-bottom-color: $primary;
}

.btn-primary {
  @include button-variant($primary, $primary, $active-background: $primary);
}

.tooltip-inner a {
  color: $coastal-meadow;
}

.map .ol-zoom {
  top: 10px;
  left: auto;
  right: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.legend-color {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.legend-container {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  background-color: #fffffffd;
  padding: 5px;
  margin-right: 10px;
}

.map-popup-custom {
  z-index: 10;
  background-color: #00000095;
  color: #ffffff;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  // cursor:
}

.chart-display {
  width: 60vw;
}

.datum-radio-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 5px;
}

@media (max-width: 576px) {
  .chart-display {
    width: 100%;
  }
}
