<!--
  Generated template for the PlatformGraphPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle="left" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Platform Comparison</ion-title>
    <button ion-button menuToggle="right" end>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-menu id='page_comparison_menu' [content]="page_comparison_menu" side="right"
        (ionClose)="comparisonMenuClosed()">
  <ion-content padding class="has-header">
      <ion-navbar>
        <ion-title>Choose stuff</ion-title>
      </ion-navbar>
        <div>
          <ion-item>
            <ion-label>Start Date</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY H" min="2016" [max]="appConfig.max_interface_start_date"  [(ngModel)]="appConfig.interface_start_date">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>End Date</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY H" min="2016" [max]="appConfig.max_interface_end_date"  [(ngModel)]="appConfig.interface_end_date">
            </ion-datetime>
          </ion-item>
        </div>
        <div>
         <ion-item class="listtitle">Toggle Buoy</ion-item>
          <ion-item *ngFor="let item of appConfig.getBuoySelectionList()">
            <ion-label> {{item.name}}   </ion-label>
            <ion-toggle [checked]="item.selected" (ionChange)="updateBuoySelected(item)"></ion-toggle>
          </ion-item>
        </div>
        <br/>
        <div>
         <ion-item class="listtitle">Toggle Parameter</ion-item>
          <ion-item *ngFor="let parameter of appConfig.getPlatformParameterList()">
            <ion-label> {{parameter.description}}   </ion-label>
            <ion-toggle [checked]="parameter.selected" (ionChange)="updateParameterVisibility(parameter)"></ion-toggle>
          </ion-item>
        </div>
  </ion-content>
</ion-menu>
<ion-content padding>
    <div *ngIf="appConfig.waveDisplayedErrorMessage">
    There was an error building a graph for {{waveService.appConfig.platform_name}}
    </div>
    <div *ngIf="appConfig.waveDisplayedErrorMessage">
      <div *ngFor="let message of error_msg_array" >
      {{message}}
      </div>
    </div>

  <chart *ngIf="metService.designerChart" type="StockChart" [options]="metService.designerChart"></chart>

</ion-content>

<ion-nav [root]="PlatformComparisonPage" #page_comparison_menu swipeBackEnabled="false" ></ion-nav>
